* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: #111f2f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial Black', sans-serif;
}

hr {
  margin: 40px;
}

strong {
  font-family: 'Arial Black', sans-serif;
}

i {
  background: #f11f2f;
  padding-right: 5px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* SECTIONS */

.top {
  background: #f11f2f;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.link-cv, .button-cv,
.link-form, .button-form {
  border: 2px solid #f11f2f;
  border-radius: 60px;
  color: #fff;
  background: #f11f2f;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px; 
}

.stack-row-1,
.stack-row-2 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 60px;
  text-align: center;
}

.stack-row-1 h3,
.stack-row-2 h3 {
  border-radius: 60px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  background: #f11f2f;
  font-weight: bolder;
  padding: 40px;
  margin-right: 20px;
}

.stack-row-1 h3:hover,
.stack-row-2 h3:hover {
  color: #111f2f;
}

#questions {
  padding: 20px;
  margin: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 40px;
}

#questions h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

#questions p {
  text-align: left;
  font-weight: lighter;
  padding-top: 10px;
}

.separator {
  margin-left: 100px;
  margin-right: 100px;
}

.start p,
#about p,
#projects p,
#skills p,
#faq p,
#contact p {
  padding: 10px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Arial', sans-serif;
}

.start h1:hover,
#about h1:hover,
#projects h1:hover,
#skills h1:hover,
#faq h1:hover,
#contact h1:hover {
  color: #f11f2f;
}

.start p, #projects p, #faq p {
  text-align: left;
  padding-left: 40px;
}

.about p, #skills p, #contact p {
  text-align: right;
  padding-right: 40px;
}

.visit {
  background: #f11f2f;
  padding: 10px;
  border: 2px solid #f11f2f;
  border-radius: 60px;
 }

.link-cv:hover, .link-form:hover,
.visit:hover, i:hover {
  color: #111f2f; 
}

.project h3 {
  margin: 40px;
}

.thumbnail {
  height: 300px;
  width: 100%;
  border: 2px solid #fff;
}

.form, .project {
  padding: 50px;
  margin: 50px;
  color: #fff;
  background: #111f2f;
  border: 2px solid #fff;
  border-radius: 40px;
}

.name, .lastname, .phone,
.email, .subject {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #111f2f;
  font-size: 20px;
}

.phone p, .email p {
  color: #fff;
  padding: 0;
  padding-left: 10px;
  font-size: 15px;
  font-weight: lighter;
}

.name input, .lastname input, .phone input,
.email input, .subject input, .message textarea {
  border: 2px solid #fff;
  border-radius: 40px;
  color: #444c4c;
  background: #fff;
  font-size: 18px;
  padding: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  background: #111f2f;
}

/* NAVBAR */

.navbar, .navbar li, .navbar li a {
  display: inline-flex;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  background: #f11f2f;
  padding: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar li a:hover {
  display: inline-flex;
  justify-content: flex-start;
  color: #111f2f;
  background: #f11f2f
}

.navbar img {
  height: 100px;
  width: 150px;
}

.navbar ul {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  /*position: fixed;
  transition: top 0.3s;
  width: 100%;
  top: 50;
  float: left;*/
}

.navbar ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  color: #111f2f;
}

/* BANNERS */

.header img {
  padding: 0;
  margin: 0;
  height: 150px;
  width: 100%;
  background-image: url(images/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 800px;
  width: 100%;
}

/* FOOTER */

.footer, .social, 
.quote, .social-links {
  background: #f11f2f;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
}

.social {
  text-align: center;
  padding: 10px;
}

.fab {
  padding: 10px;
  font-size: 30px;
}

/* MOBILE */

@media (max-width: 1024px) {
  .menu-btn {
    display: block;
    background-color: #f11f2f;
    padding-top: 36px;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .navbar ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f11f2f;
    width: 50%;
    height: 400%;
    border-right: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-600px);
    transition: transform 0.5s ease-in-out;
  }

  .navbar ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .navbar ul.nav-menu li:last-child {
    border-bottom: inherit;
  }

  .navbar ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .stack-row-1 h3,
  .stack-row-2 h3 {
    border-radius: 60px;
    text-decoration: none;
    list-style: none;
    color: #fff;
    background: #f11f2f;
    font-size: 14px;
    font-weight: bolder;
    padding: 25px;
    margin-right: 20px;
  }
}

@media (max-width: 700px){
  .stack-row-1,
  .stack-row-2 {
    display: inline-block;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    text-align: center;
  }

  .stack-row-1 h3,
  .stack-row-2 h3 {
    border-radius: 60px;
    text-decoration: none;
    list-style: none;
    color: #fff;
    background: #f11f2f;
    font-size: 12px;
    font-weight: bolder;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

  #questions {
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 40px;
  }

  #questions h1 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #questions p {
    text-align: left;
    font-weight: lighter;
    padding-top: 10px;
  }

  .separator {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .form {
    padding: 10px;
    margin: 10px;
    color: #fff;
    background: #111f2f;
    border: 2px solid #fff;
    border-radius: 40px;
  }

  .name, .lastname, .phone,
  .email, .subject {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #111f2f;
    font-size: 12px;
  }

  .phone p, .email p {
    color: #fff;
    padding: 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: lighter;
  }

  .name input, .lastname input, .phone input,
  .email input, .subject input, .message textarea {
    border: 2px solid #fff;
    border-radius: 40px;
    color: #444c4c;
    background: #fff;
    font-size: 12px;
    padding: 10px;
  }

  .message {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    background: #111f2f;
  }

  #questions {
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 40px;
  }

  #questions h1 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #questions p {
    text-align: left;
    font-weight: lighter;
    padding-top: 10px;
  }

  .separator {
    margin-left: 10px;
    margin-right: 10px;
  }
}
