* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: #111f2f;
}

body {
  font-family: 'Arial Black', sans-serif;
}

hr {
  margin: 40px;
}

strong {
  font-family: 'Arial Black', sans-serif;
}

i {
  background: #f11f2f;
  padding-right: 20px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/*SECTIONS*/

.top {
  background: #f11f2f;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.link-cv, .button-cv,
.link-form, .button-form,{
  border: 2px solid #f11f2f;
  border-radius: 60px;
  color: #fff;
  background: #f11f2f;
  padding: 20px;
  margin: 20px;
  font-weight: bolder;
  font-size: 15px; 
}

.start p,
.about p,
.projects p,
.skills p,
.faq p,
.contact p {
  padding: 10px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Arial', sans-serif;
}

.start p, .projects p, .faq p {
  text-align: left;
  padding-left: 40px;
}

.about p, .skills p, .contact p {
  text-align: right;
  padding-right: 40px;
}

.visit {
  background: #f11f2f;
  padding: 10px;
  border: 2px solid #f11f2f;
  border-radius: 60px;
 }

.project h3 {
  margin: 40px;
}

.thumbnail {
  height: 300px;
  width: 100%;
}

.form, .project {
  padding: 50px;
  margin: 50px;
  color: #fff;
  background: #111f2f;
  border: 2px solid #fff;
  border-radius: 40px;
}

.name, .lastname, .phone,
.email, .subject {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #111f2f;
  font-size: 20px;
}

.phone p, .email p {
  color: #fff;
  padding: 0;
  padding-left: 10px;
  font-size: 15px;
  font-weight: lighter;
}

.name input, .lastname input, .phone input,
.email input, .subject input, .message textarea {
  border: 2px solid #fff;
  border-radius: 40px;
  color: #444c4c;
  background: #fff;
  font-size: 18px;
  padding: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  background: #111f2f;
}

/*NAVBAR*/

.navbar, .navbar li, .navbar li a {
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
  text-decoration: none;
  background: #f11f2f;
  padding: 10px;
}

.navbar li a:hover {
  display: inline-flex;
  justify-content: flex-end;
  color: #111f2f;
  background: #f11f2f
}

.header img {
  padding: 0;
  margin: 0;
  height: 80px;
  width: 100%;
  background-image: url(images/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/*FOOTER*/

.footer, .social, 
.quote, .social-links {
  background: #f11f2f;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
}

.social {
  text-align: center;
  padding: 10px;
}

.fab {
  padding: 10px;
  font-size: 30px;
}
